In [1]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
import seaborn as sns

In [62]:
df = pd.read_csv('financials.csv', sep=';')

In [28]:
df.shape

(505, 13)

# Data types for the dataset

In [29]:
df.dtypes

Symbol             object
Name               object
Sector             object
Price             float64
Price/Earnings    float64
Dividend Yield    float64
Earnings/Share    float64
52 Week Low       float64
52 Week High      float64
Market Cap        float64
EBITDA            float64
Price/Sales       float64
Price/Book        float64
dtype: object

# Describing the Dataset, for every numeric column.

In [30]:
df.describe()

,Price,Price/Earnings,Dividend Yield,Earnings/Share,52 Week Low,52 Week High,Market Cap,EBITDA,Price/Sales,Price/Book
count,505.000000,503.000000,505.000000,505.000000,505.000000,505.000000,5.050000e+02,5.050000e+02,505.000000,497.000000
mean,103.830634,24.808390,1.895953,3.753743,122.623832,83.536616,4.923944e+10,3.590328e+09,3.941705,14.453179
std,134.427636,41.241081,1.537214,5.689036,155.362140,105.725473,9.005017e+10,6.840544e+09,3.460110,89.660508
min,2.820000,-251.530000,0.000000,-28.010000,6.590000,2.800000,2.626102e+09,-5.067000e+09,0.153186,0.510000
25%,46.250000,15.350000,0.794834,1.490000,56.250000,38.430000,1.273207e+10,7.739320e+08,1.629490,2.020000
50%,73.920000,19.450000,1.769255,2.890000,86.680000,62.850000,2.140095e+10,1.614399e+09,2.896440,3.400000
75%,116.540000,25.750000,2.781114,5.140000,140.130000,96.660000,4.511968e+10,3.692749e+09,4.703842,6.110000
max,1806.060000,520.150000,12.661196,44.090000,2067.990000,1589.000000,8.095080e+11,7.938600e+10,20.094294,1403.380000

# Subsetting the dataset to our own needs.

In [84]:
df = df[['Symbol', 'Name', 'Sector', 'Price', 'Price/Earnings', 'Dividend Yield',
       'Earnings/Share', '52 Week Low', '52 Week High', 'Market Cap', 'EBITDA',
       'Price/Sales', 'Price/Book', 
       #'SEC Filings'
]].copy()

# Renaming Columns if necessary. Fixed the spaces between words with "_" .

In [91]:
df = df.rename(columns={'Dividend Yield' : 'Dividend_Yield',
                   '52 Week Low' : '52_Week_Low',
                   'Market Cap' : 'Market_Cap',
                   '52 Week High' : '52_Week_High'})

# Identify if there are missing or duplicated values in the dataframe and how often they occur.

In [92]:
df.isna().sum()

Symbol            0
Name              0
Sector            0
Price             0
Price/Earnings    0
Dividend_Yield    0
Earnings/Share    0
52_Week_Low       0
52_Week_High      0
Market_Cap        0
EBITDA            0
Price/Sales       0
Price/Book        0
dtype: int64

In [75]:
df[df['Price/Earnings'].isna()]
df[df['Price/Book'].isna()]

,Symbol,Name,Sector,Price,Price/Earnings,Dividend Yield,Earnings/Share,52 Week Low,52 Week High,Market Cap,EBITDA,Price/Sales,Price/Book,SEC Filings
55,ARNC,Arconic Inc,Industrials,24.45,20.21,0.956175,-0.21,31.17,21.755,1.212330e+10,1.517000e+09,0.942148,NaN,http://www.sec.gov/cgi-bin/browse-edgar?action...
199,FL,Foot Locker Inc,Consumer Discretionary,45.88,9.50,2.582795,4.91,77.86,28.420,5.819080e+09,9.570000e+08,1.036295,NaN,http://www.sec.gov/cgi-bin/browse-edgar?action...
225,HCA,HCA Holdings,Health Care,95.97,14.07,1.422764,5.94,106.84,71.180,3.444905e+10,8.202000e+09,0.725192,NaN,http://www.sec.gov/cgi-bin/browse-edgar?action...
292,MRO,Marathon Oil Corp.,Energy,15.68,-32.00,1.224740,-2.65,19.52,10.550,1.387501e+10,2.266000e+09,4.657876,NaN,http://www.sec.gov/cgi-bin/browse-edgar?action...
346,OXY,Occidental Petroleum,Energy,68.47,195.63,4.408186,-0.75,78.09,57.200,5.346769e+10,5.205000e+09,6.044895,NaN,http://www.sec.gov/cgi-bin/browse-edgar?action...
358,PEP,PepsiCo Inc.,Consumer Staples,110.15,21.51,2.837004,4.36,122.51,104.770,1.614133e+11,1.284300e+10,3.670506,NaN,http://www.sec.gov/cgi-bin/browse-edgar?action...
450,TDG,TransDigm Group,Industrials,283.00,23.76,0.000000,7.92,321.38,203.720,1.524120e+10,1.635916e+09,4.268832,NaN,http://www.sec.gov/cgi-bin/browse-edgar?action...
460,UNP,Union Pacific,Industrials,124.86,22.06,2.062655,13.52,143.05,101.060,1.015133e+11,1.016900e+10,4.860507,NaN,http://www.sec.gov/cgi-bin/browse-edgar?action...

In [78]:
df = df.dropna(subset=['Price/Book', 'Price/Earnings']) \
.reset_index(drop=True).copy()

In [81]:
~df.duplicated(subset=['Symbol', 'Name'])

0      True
1      True
2      True
3      True
4      True
       ...
490    True
491    True
492    True
493    True
494    True
Length: 495, dtype: bool

# Saving the Dataset

In [93]:
df.head()

,Symbol,Name,Sector,Price,Price/Earnings,Dividend_Yield,Earnings/Share,52_Week_Low,52_Week_High,Market_Cap,EBITDA,Price/Sales,Price/Book
0,MMM,3M Company,Industrials,222.89,24.31,2.332862,7.92,259.77,175.490,1.387211e+11,9.048000e+09,4.390271,11.34
1,AOS,A.O. Smith Corp,Industrials,60.24,27.76,1.147959,1.70,68.39,48.925,1.078342e+10,6.010000e+08,3.575483,6.35
2,ABT,Abbott Laboratories,Health Care,56.27,22.51,1.908982,0.26,64.60,42.280,1.021210e+11,5.744000e+09,3.740480,3.19
3,ABBV,AbbVie Inc.,Health Care,108.48,19.41,2.499560,3.29,125.86,60.050,1.813863e+11,1.031000e+10,6.291571,26.14
4,ACN,Accenture plc,Information Technology,150.51,25.47,1.714470,5.44,162.60,114.820,9.876586e+10,5.643228e+09,2.604117,10.62

In [94]:
df.to_csv('financials_cleaned.csv', index=False)